<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">My IMDB</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive img-thumbnail float-right" src="<%= movie.image%>">
                    <div class="caption-full">
                        <h4 class="text-left"></h4>
                        <h1><%= movie.name %></h1>
                        <p><%= movie.description %></p>
                        <p><%= movie.score %></p>
                        <p> 
                            <em>Submitted By <%= movie.author.username%></em>
                        </p>
                        <% if(currentUser && movie.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning" href="/movies/<%= movie._id%>/edit">Edit!</a>
                            <form id="delete-form" action="/movies/<%= movie._id%>?_method=DELETE" method=POST>
                                <button class="btn btn-danger">Delete!</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header"> Comments</div>
                    <% movie.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-9 card-body">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.score %>
                            </p> 
                            <p>
                                <%= comment.text %>
                            </p> 
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-warning" 
                                    href="/movies/<%= movie._id%>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form id="delete-form" action="/movies/<%= movie._id%>/comments/<%= comment._id %>/?_method=DELETE" method=POST>
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                                <hr>
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                    
                    <div class="text-right">
                        <a class="btn btn-success card-footer" href="/movies/<%= movie._id%>/comments/new">Add New Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>